# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# Database
*.db

# CSV / data (optional)
*.csv

*.txt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

*.json
*.bin